
# Filter Configuration

Filter [BoostCoder's Boosted Filters]

ForumThread [https://www.pathofexile.com/account/view-profile/BoostCoder/item-filters]

Version [1.313.001]
LastUpdate [January 13, 2021]


PoEVersion [3.12.x]



# FilterBlast Parser Settings

BlockGroups off
DisabledBlocks wrapped
SmartColors on



# Filter Presets

Preset "Boosted Caster" DEFAULT [BoostedCaster] [https://raw.githubusercontent.com/renews/boosted_filter/main/BoostedCaster.filter]
Preset "Boosted Summoner" [BoostedSummoner] [https://raw.githubusercontent.com/renews/boosted_filter/main/BoostedSummoner.filter]
Preset "Boosted Ranged" [BoostedRanged] [https://raw.githubusercontent.com/renews/boosted_filter/main/BoostedRanged.filter]
Preset "Boosted Melee" [BoostedMelee] [https://raw.githubusercontent.com/renews/boosted_filter/main/BoostedMelee.filter]
Preset "Boosted Animated" [BoostedAnimated] [https://raw.githubusercontent.com/renews/boosted_filter/main/BoostedAnimated.filter]
Preset "Boosted Animated - Ranged" [BoostedAnimatedRanged] [https://raw.githubusercontent.com/renews/boosted_filter/main/BoostedAnimatedRanged.filter]
