
# Filter Configuration

Filter [Overnight Filters]

ForumThread [https://poe.overnight.games/nosso-filtro/]

Version [3.19.05]
LastUpdate [September 14, 2022]


PoEVersion [3.19.x]



# FilterBlast Parser Settings

BlockGroups off
DisabledBlocks wrapped
SmartColors on



# Filter Presets

Preset "Boosted Caster" DEFAULT [BoostedCaster] [https://raw.githubusercontent.com/renews/boosted_filter/master/BoostedCaster.filter]
Preset "Boosted Summoner" [BoostedSummoner] [https://raw.githubusercontent.com/renews/boosted_filter/master/BoostedSummoner.filter]
Preset "Boosted Ranged" [BoostedRanged] [https://raw.githubusercontent.com/renews/boosted_filter/master/BoostedRanged.filter]
Preset "Boosted Melee" [BoostedMelee] [https://raw.githubusercontent.com/renews/boosted_filter/master/BoostedMelee.filter]
Preset "Boosted Animated" [BoostedAnimated] [https://raw.githubusercontent.com/renews/boosted_filter/master/BoostedAnimatedWeapon.filter]
Preset "Boosted Animated - Ranged" [BoostedAnimatedRanged] [https://raw.githubusercontent.com/renews/boosted_filter/master/BoostedAnimatedWeaponRanged.filter]
