
# Filter Configuration

Filter [BoostCoder's Boosted Filters]

ForumThread [https://br.pathofexile.com/forum/view-thread/3009849]

Version [1.313.010]
LastUpdate [January 28, 2021]


PoEVersion [3.13.x]



# FilterBlast Parser Settings

BlockGroups off
DisabledBlocks wrapped
SmartColors on



# Filter Presets

Preset "Boosted Caster" DEFAULT [BoostedCaster] [https://raw.githubusercontent.com/renews/boosted_filter/main/BoostedCaster.filter]
Preset "Boosted Summoner" [BoostedSummoner] [https://raw.githubusercontent.com/renews/boosted_filter/main/BoostedSummoner.filter]
Preset "Boosted Ranged" [BoostedRanged] [https://raw.githubusercontent.com/renews/boosted_filter/main/BoostedRanged.filter]
Preset "Boosted Melee" [BoostedMelee] [https://raw.githubusercontent.com/renews/boosted_filter/main/BoostedMelee.filter]
Preset "Boosted Animated" [BoostedAnimated] [https://raw.githubusercontent.com/renews/boosted_filter/main/BoostedAnimatedWeapon.filter]
Preset "Boosted Animated - Ranged" [BoostedAnimatedRanged] [https://raw.githubusercontent.com/renews/boosted_filter/main/BoostedAnimatedWeaponRanged.filter]
